.center {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
  }

  .form-layout{
    border-radius: 15px;
    width: 500px;
}

.message-text{
    color: white;
}

#shreyCRM {
  padding-left: 50px;
  font-size: 25px;
}

#shreyCRM:hover {
  color: darkcyan;
}

#nav-elements {
  padding-left: 50px;
}

#signup {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

#createlead {
  font-size: 17px;
}