{% extends 'app/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<body>
    <div id="signup">
        <div class="container bg-light shadow-md p-5 form-layout">
            <h4>Create Account</h4>
            <hr>
            <form method="POST" autocomplete="off">
                {% csrf_token %}
                {{form.username|as_crispy_field}}
                {{form.password1|as_crispy_field}}
                {{form.password2|as_crispy_field}}
                <br>
                <button type="submit" class="btn btn-primary w-100 btn-block p-2">
                    Create account
                    <i class="fa fa-user" aria-hidden="true"></i>
                </button>
            </form>
            <br>
            <div class="text-center">
                <p> Already have an account?</p>
                <a href="{% url 'login' %}">Login</a>
            </div>
        </div>
    </div>
</body>
{% endblock %}