{% extends 'app/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<body>
    <br>
    <br>
    <div class="container bg-light shadow-md p-5 form-layout">
        <h3>Update Lead</h3>
        <hr>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{form.first|as_crispy_field}}
            <br>
            {{form.last|as_crispy_field}}
            <br>
            {{form.role|as_crispy_field}}
            <br>
            {{form.company|as_crispy_field}}
            <br>
            {{form.email|as_crispy_field}}
            <br>
            {{form.phone|as_crispy_field}}
            <br>
            {{form.linkedin|as_crispy_field}}
            <br>
            {{form.location|as_crispy_field}}
            <br>
            {{form.notes|as_crispy_field}}
            <br>
            <button type="submit" class="btn btn-info"> 
                Update
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>            
            <a href="{% url 'dashboard' %}" class="btn btn-secondary"> 
                Back
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
        </form>
    </div>
    <br>
    <br>
    <br>
</body>
{% endblock %}